.x-btn-default-small {
background-color: #f2654a !important;
border-color: #f2654a !important
}

.x-panel-header-title-default {
color: #f2654a !important
}

.x-window-header-title-default {
color: #f2654a !important
}

.x-tool-img {
background-image: url(http://localhost/ext-5.0.1/packages/ext-theme-crisp/build/resources/images/tools/tool-sprites-dark.png) !important;
}
